@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria:  #102752;
    --cor-secundaria: #47B5FF;
    --cor-terciaria: #1363DF;
}


* {
    margin: 0;
    padding: 0; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body { 
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.logo{
    margin-top: 10px;
}

.botoes{
    display: flex;
    font-size: 16px;
    gap: 5px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.area_de_texto{
    height: 85vh;
    width: 50vh;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 1 50%;
}

.area_de_texto textarea::placeholder{
    font-weight: bold;
    color: var(--cor-secundaria);
    font-size: 24px;
}

.resultado{
    height: 85vh;
    width: 50vh;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 2;
    justify-content: center;
    align-items: center;
}

.resultado textarea::placeholder{
    font-weight: bold;
    color: var(--cor-secundaria);
    font-size: 24px;
    text-align: center;
}

.campo_texto{
    resize: none;
    border: 2px solid var(--cor-primaria);
    font-size: 23px;
    outline: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    caret-color: var(--cor-secundaria);
}
/* Todo código abaixo visa ocultar o placeholder quando o usuário clica no textarea*/

#area_de_texto:focus::placeholder{
    color: transparent;
}

.alerta{
    color: var(--cor-secundaria);
}

.btn_criptografar{
    border: 2px solid;
    border-radius: 24px;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-size: 16px;
    width: 328px;
    cursor: pointer;
    
}

.btn_descriptografar {
    border: 2px solid;
    border-radius: 24px;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    font-size: 16px;
    width: 328px;
    cursor: pointer;
}

.botao_copiar {
    border: 2px solid;
    border-radius: 24px;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-size: 16px;
    width: 328px;
    cursor: pointer;
}



.rodape {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    order: 3;
    flex-basis: 100%;
}