@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria:  #102752;
    --cor-secundaria: #47B5FF;
    --cor-terciaria: #1363DF;
}


* {
    margin: 0;
    padding: 0; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body { 
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.logo{
    margin-top: 0.6rem;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.logo img{
    max-width: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.campo_texto{
    resize: none;
    border: 0.125rem solid var(--cor-terciaria);
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.45rem;
    outline: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    caret-color: var(--cor-secundaria);
}

.area_de_texto{
    height: 82vh;
    width: 68%;
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    order: 1 50%;
}

.alerta{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.area_de_texto img{
    max-width: 1.25rem;
}

.area_de_texto textarea::placeholder{
    font-weight: bold;
    color: var(--cor-secundaria);
    font-size: 2rem;
}

#textarea1:focus::placeholder{
    color: transparent;
}

.botoes{
    display: flex;
    font-size: 1rem;
    gap: 0.3rem;
}

.btn_criptografar, .btn_descriptografar{
    width: 50%;
}

.btn_copiar{
    width: 100%;
}

.btn_criptografar, .btn_descriptografar, .btn_copiar{
    border: 0.125rem solid;
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    font-size: 2rem;
}

.btn_criptografar:hover, .btn_copiar:hover, .btn_descriptografar:hover{
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
}

.btn_copiar{
    align-self: center;
}

.resultado{
    height: 82vh;
    width: 25%;
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    order: 2;
}

#textarea2 {
    background-image: url(../assets/pesquisa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11rem;
    padding-bottom: 4rem;
}


.resultado #textarea2::placeholder{
    font-weight: bold;
    color: var(--cor-secundaria);
    font-size: 2rem;
    text-align: center;
}

.rodape {
    text-align: center;
    order: 3;
    flex-basis: 100%;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.rodape a{
    text-decoration: none;
    color: white;
}

.rodape img{
    max-width: 1.5rem;
    margin-right: 0.3rem;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .resultado {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        width: 65vh;
    }

    #textarea2{
        max-width: 100%;
    }

    .rodape{
        position: relative;
        bottom: 0.2rem;
    }
}

@media (min-width: 1200px) {
    body{
        zoom: 97%;
    }
    
    .rodape{
       position: absolute;
       bottom: 0.2rem;
    }
}

@media (max-width: 1200px) {
    body{
        zoom: 90%;
    }
}

